<div class="stats">
  <strong　>
    <%= @user.posts.count %>
  </strong>
  posts
  <strong id="followings">
    <%= @user.following.count %>
  </strong>
  following
  <strong id="followers">
    <%= @user.followers.count %>
  </strong>
  followers
</div>
